

.article{
  padding-top:80px;
  padding-bottom: 120px;
}



.article-text{
  margin-bottom: 20px;
  font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
}

.article-mb{
  margin-bottom: 80px;
}

.article-decor-wrapper{
  position: relative;
}


.article-decor-wrapper-1::before{
  top: 100px;
  left: 0;
}

.article-decor-wrapper-2::before{
  right: 0;
  bottom: 130px;
}

.article-decor-2{
  right: -384px;
  bottom: 130px;
}


.article-list{
  margin-top: 0;
  padding-left: 16 px;
}

.article-item:not(:last-child){
  margin-bottom: 12px;
}

.article-item::marker{
  font-size: 22px;
  color: #3596ed;
}

.article-img{
  margin-bottom: 40px;
}

.article-play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center ;
      -ms-flex-align:center ;
          align-items:center ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #359;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.article-play-button:hover{
  background-color: #38a2ff;
}

.article-play-button:not(:disabled):active{
  background-color: #2d82cd;
}

@media(width<=768px){
   .article-decor-wrapper::before{
    display: none;
   }

  .article-mb{
    margin-bottom: 60px;
  }

  .article-title-medium{
    font-size: 32px;
  }
}

@media(width<=576px){
  .article{
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article-title-medium{
    font-size: 28px;
  }

  .article-mb{
    margin-bottom: 40px;
  }

  .article-mb-2{
    margin-bottom: 30px;
  }

  .article-play-button{
    width: 50px;
    height: 50px;
  }

  .article-play-button img{
    width: 18px;
    height: 18px;
  }
}