
.form{
  max-width: 200px;
  border: 1px solid #080b0e;
  border-radius: 8px;         
  padding: 10px;             
  background-color: #c7cccd;
}

.form-group{
    border: none;
    padding-left: 0px;
}

legend{
    font-weight: bold;
}

input{
margin-top: 0;
  margin-bottom: 5px; 
}

textarea{
    resize: vertical;
    min-height: 20px;
    max-height: 120px;
}

.checkbox{
    cursor: pointer;
}

.checkbox-text{
    font-size: 13px;
}

button{
   padding: auto;
    cursor: pointer;
}