

.article{
  padding-top:80px;
  padding-bottom: 120px;
}

.article-title{
  max-width: 600px;
  margin-bottom: 40px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
  font-family: Oswald; sans-serif;
color: #2c332f;
}

.article-title-large{
font-size: 48px;
}

.article-title-medium{
font-size: 36px;
}

.article-text{
  margin-bottom: 20px;
  font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
}

.article-mb{
  margin-bottom: 80px;
}

.article-decor-wrapper{
  position: relative;
}

.article-decor-wrapper::before{
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../images/decor-icon.svg) no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before{
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before{
  right: -384px;
  bottom: 130px;
}

.article-decor-2{
  right: -384px;
  bottom: 130px;
}

.article-img,
.article-video{
   width: 100%;
}

.article-list{
  margin-top: 0;
  padding-left: 16 px;
}

.article-item{
  margin-bottom: 12px;
}

.article-item::marker{
  font-size: 22px;
  color: #3596ed;
}

.article-video{
  margin-bottom: 40px;
}

.article-play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items:center ;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #359;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}