html{
    font-family: sans-serif;
}

body * {
box-sizing: border-box;
}

.container{
    max-width: 1320px;
    min-height: 15vh;
    padding: 0 15px ;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.444);
    flex-wrap: wrap;
}

.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1; 
}

.box{
    display: block;
    width: 50px;
    height: 50px;
    background-color: black;
}

.item,
a
{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
    color: #000;
}

.tel{
    text-decoration: none;color: #000;
    margin-right: 10px;
}