* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header {
    grid-column: 1 / 12 span;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column: 1 / 2 span;
	height: 100%;
	background-color: #e2e20d;
}

.main {
	
	grid-column: 3 / 12 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .container{
	display: grid;
	 grid-template-columns: repeat(4, 1fr);
	 grid-template-rows: repeat(2, 1fr);
	 gap: 10px;
}

.article {
	height: 350px;
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	grid-column: 1 / 12 span;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <= 1200px) {
   .main .container {
	grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
	
   }
	.aside{
	width: 250px;	
	}
}

@media (width <= 768px) {
  .aside{
	display: none;
  }

  .main{
	grid-column: 1 / 12 span;
  }
}