table{
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td, 
th,
caption{
    border: 1px solid #111;
    font-family: Arial;
}

caption{
    border-bottom:none ;
    font-size: 20px;
    font-weight: bold;
}